*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgba(26, 11, 46, 1);
}
/* shared style */
.logo h3{
    font-size: 45px;
    color: white;
}
.color{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    color: transparent;
    background-clip: text;
}
.btn{
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1)));
    font-size: 16px;
    border-radius: 1000px;
    color: white;
    padding: 12px 16px 12px 16px;
    align-items: center;
    text-align: center;
    
}
.style-text{
    color:white ;
    opacity: 60%;
    text-align: center;
    
}
/* main style */



nav{
    max-width: 1600px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
    margin-top: 30px;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
}
nav .menu a{
    font-size: 16px;
    color: white;
    text-decoration: none;

}

.banner-container{
    position: relative;
     display: flex;
     /* flex-direction: column; */
     background: url(./assets/hero-bg.png);
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     justify-content: center;
     align-items: center;
     text-align: center;
     gap: 16px; 
     height: 100vh;
     
     


}
.banner-img1{
    width: 350px;
    height: 350px;
}
.banner-image{
    justify-items: center;
    
}


.banner-img2{
   
    position: absolute;
    left: 50%;
    top: 38%;
    transform: translate(-50%, -50%);
}
.banner-header{
    color: white;
    font-size: 30px;
    text-align: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
} 
.btn2{
    color:  rgba(0, 255, 136, 1);
    border: 1px solid  rgba(0, 255, 136, 1);
    border-radius: 100px;
    background: transparent;
    padding: 12px 20px;
    font-weight: 600px;
}
.banner-header1{
    color: white;
    font-size: 30px;
    text-align: center;

}
.number-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
   margin-top: 30px;
}
.number-header{
    color: #00FF88;
    font-size: 48px;
}
.card{
     background-color: rgba(37, 13, 68, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 40px;
    border-radius: 40px;

}
.card-container1{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 100px;

}
.img-card-section{
    margin-top: 30px;
    display: grid;
    grid-template-areas:
    "c1 c1 c1 c1 c2 c2 c2 c2 c2 c2 c2 c2" 
    "c1 c1 c1 c1 c3 c3 c3 c3 c3 c3 c3 c3"
    "c4 c4 c4 c4 c4 c4 c4 c4 c5 c5 c5 c5";
    gap: 30px;

}
.card-container1 h4{
    color: white;
    font-size: 20px;
    margin-top: 16px;
}
.card p{
    color: white;
    opacity: 60%;
    font-size: 20px;
    margin-top: 20px;

}


.card-1{
    grid-area: c1;
}
.card-2{
    grid-area: c2;

}
.card-3{
grid-area: c3;
}
.card-4{
grid-area: c4;
}
.card-5{
 grid-area: c5;
}












.image-info h4{
    color: white;
    font-size: 20px;
    text-align: center;
}
.vedio-container{
    max-width: 1200px;
    margin: 0 auto;
    

}
.section-vedio{
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.vedio-info{
    width: 380px;
    height: 440px;
    background-color: rgba(37, 13, 68, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    

}
.vedio-info h3{
    color: white;
    margin-bottom: 20px;
}
.vedio-info p{
    color:white ;
    opacity: 60%;
    margin-bottom: 10px;
}
.number-header4{
     color: #00FF88;
      font-size: 16px;

}
.number-header4 img{
    margin-right: 5px;
}











 <div class="card-container1">
                       <h3 class="banner-header">Why Choose TechWave</h3
                        
               
             </div>